@import url("components/livro/livro.css");
@import url("components/login/login.css");
@import url("components/cadastro/cadastro-page.css");
@import url("components/initial-page/initial-page.css");
@import url("components/modal/modal.component.js");

.logo {
  align-self: center;
  height: 12.375rem;
}
body{
  background: linear-gradient(to bottom, #ffffff, #90BC86);
  height: 100vh;
}
