<div
  class="modal"
  style="display: block"
  tabindex="-1"
  role="dialog"
  ng-if="main.show"
>
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{ main.info.title }}</h5>
      </div>
      <div class="modal-body">
        <p><strong>Autor:</strong> {{ main.info.author_name.join(', ') }}</p>
        <p>
          <strong>Resumo:</strong> {{ main.info.resumo || 'Resumo não
          disponível.' }}
        </p>
        <p>
          <strong>Data de Publicação:</strong>
          {{ main.info.first_publish_year ? main.info.first_publish_year : 'Data
          não disponível.' }}
        </p>
        <p>
          <strong>ISBN:</strong> {{ main.info.isbn ? main.info.isbn :
          'ISBN não disponível.' }}
        </p>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-danger"
          ng-click="main.fecharModal()"
        >
          Fechar
        </button>
      </div>
    </div>
  </div>
</div>
